*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Montserrat", sans-serif;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin: 50px 0px 30px 0px; 
    /* 4 values for margin because u specify all directions clockwise starting from top */
    text-align: center;
    font-size: 40px;
}

header p {
    font-size: 20px;
}

.pads {
    background: lightblue;
    width: 100%;
    display: flex;
}

.pads > div{
    height: 150px;
    width: 150px;
    flex: 1;
}

.pad1 {
    background: rgb(255, 81, 0);
}

.pad2 {
    background: rgb(238, 255, 0);
}

.pad3 {
    background: rgb(60, 226, 19);
}

.pad4 {
    background: rgb(61, 133, 240);
}

.pad5 {
    background: rgb(224, 68, 203);
}

.pad6 {
    background: rgb(90, 203, 231);
}

.visual > div {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
    left: 20%;
    z-index: -1;

}

/* keyframes lets us set the position of the object at specific points (times) */
@keyframes jump {
    0% {
        bottom: 0%;
        left: 20%;
    }
    50% {
        bottom: 50%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 80%;
    }
}

